<div>
    <p>The user number is <%= @user.id %>:</p>
</div>

<div>User data</div>

<div>Username: <%=  @user.username %> </div>
<div>E-mail: <%= @user.email %></div>
<div>Password: <%= @user.password %></div>

